* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner{
    margin: 100px auto;
    width: 700px;
    border: 1px solid;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc{
    border: 1px solid;
    border-radius: 7px;
    padding: 8px;
}

.te{
    padding: 7px 5px;
    border-radius: 7px;
    width: 200px;
    border: 1px solid;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px;
}

.table{
    width: 200px;
    margin: 0 auto;
}

.tr td{
    text-align: center;
    border: 1px solid;
    padding: 3px;
    height: 40px;
    border-radius: 3px;
    width: 60px;
    transition: 0.3s;
    cursor: pointer;
}


.tr td:hover{
    background:gainsboro;
}
.p{
    font-size: 10px;
    color: gray;
}

